@import "../../../../../../employees.component.css";
@import '../../../../../../../../../assets/css/plugins/select2/select2.min.css';

/* .ng-select2 {
    word-wrap: normal;
    width: 420px;
    height: 35px;
} */

.input-group-append .btn {
    border: 1px solid #dbdddf;
    width: 45px;
    font-size: 0.9rem;
}

.form-inline .form-control {
    display: inline-block;
    width: calc(100% - 45px);
    vertical-align: middle;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
}

.example-margin {
    margin: 10px;
}

.modal-content {
    margin-left: -50px;
    width: 600px;
    display: flex;
    justify-content: center;
}

h4 {
    margin: auto;
}

.modal-footer {
    display: flex;
    justify-content: center;
}
