<ul class="nav nav-tabs">
  <li>
    <a class="active show" routerLink="records">HỒ SƠ</a>
  </li>
  <li>
    <a routerLink="work">CÔNG VIỆC</a>
  </li>
  <li>
    <a routerLink="timekeeping">CHẤM CÔNG</a>
  </li>
  <!-- <li><a  data-toggle="tab" routerLink="#tab-payslip">TIỀN LƯƠNG</a></li> -->
  <li>
    <a routerLink="request">YÊU CẦU</a>
  </li>
  <li>
    <a routerLink="emulation-reward">THI ĐUA KHEN THƯỞNG</a>
  </li>
  <li>
    <a routerLink="timetable">THỜI GIAN BIỂU</a>
  </li>
  <li>
    <a routerLink="document">TÀI LIỆU</a>
  </li>
  <li>
    <a routerLink="customized">TÙY CHỈNH</a>
  </li>
</ul>
