<div class="row animated fadeInUp">
  <div class="ibox col-lg-12">
    <div class="ibox-title">
      <h5>THÔNG TIN VIỆC LÀM</h5>
      <div class="ibox-tools">
        <a href="" class="btn btn-primary btn-xs">Lưu thay đổi</a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Mã nhân viên</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập mã nhân viên"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Chức danh</label>
            <div class="input-group">
              <select
                data-placeholder="Chọn chức danh.."
                class="chosen-select"
                tabindex="2"
              >
                <option value="">Chọn</option>
                <option value="United States">Trưởng phòng kinh doanh</option>
                <option value="United Kingdom">Lập trình Mobile Apps</option>
                <option value="Afghanistan">Nghỉ</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="font-normal">Loại việc làm</label>
            <div class="input-group">
              <select
                data-placeholder="Chọn loại việc làm..."
                class="chosen-select"
                tabindex="2"
              >
                <option value="">Chọn</option>
                <option value="United States">Toàn thời gian</option>
                <option value="United Kingdom">Bán thời gian</option>
                <option value="Afghanistan">Thực tập</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Chi nhánh</label>
            <div class="input-group">
              <select
                data-placeholder="Chọn chi nhánh..."
                class="chosen-select"
                tabindex="2"
              >
                <option value="">Chọn</option>
                <option value="United States">Việt nam</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Người quản lý trực tiếp</label>
            <div class="input-group">
              <select
                data-placeholder="Chọn người quản lý trực tiếp..."
                class="chosen-select"
                tabindex="2"
              >
                <option value="">Chọn</option>
                <option value="United States">Việt nam</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ngày bắt đầu thử việc</label>
            <div class="input-group date">
              <span class="input-group-addon"
                ><i class="fa fa-calendar"></i></span
              ><input
                type="text"
                class="form-control"
                placeholder="Chọn ngày bắt đầu thử việc"
                value="03/04/2014"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ngày bắt đầu hợp đồng</label>
            <div class="input-group date">
              <span class="input-group-addon"
                ><i class="fa fa-calendar"></i></span
              ><input
                type="text"
                class="form-control"
                placeholder="Chọn ngày bắt đầu hợp đồng"
                value="03/04/2014"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Tình trạng</label>
            <div class="input-group">
              <select
                data-placeholder="Chọn tình trạng.."
                class="chosen-select"
                tabindex="2"
              >
                <option value="">Chọn</option>
                <option value="United States">Thực tập</option>
                <option value="United Kingdom">Thử việc</option>
                <option value="Afghanistan">Nghỉ</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Nhóm công việc</label>
            <div class="input-group">
              <select
                data-placeholder="Chọn nhóm công việc..."
                multiple
                class="chosen-select"
                tabindex="2"
              >
                <option value="">Chọn</option>
                <option value="United States">Nhân viên</option>
                <option value="United Kingdom">Quản lý</option>
                <option value="Afghanistan">Đào tạo</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Công ty</label>
            <div class="input-group">
              <select
                data-placeholder="Chọn công ty..."
                class="chosen-select"
                tabindex="2"
              >
                <option value="">Chọn</option>
                <option value="United States">Việt nam</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Phòng ban</label>
            <div class="input-group">
              <select
                data-placeholder="Chọn phòng ban..."
                class="chosen-select"
                tabindex="2"
              >
                <option value="">Chọn</option>
                <option value="United States">Việt nam</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="font-normal">Ngày tham gia</label>
            <div class="input-group date">
              <span class="input-group-addon"
                ><i class="fa fa-calendar"></i></span
              ><input
                type="text"
                class="form-control"
                placeholder="Chọn ngày tham gia"
                value="03/04/2014"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ngày kết thúc thử việc</label>
            <div class="input-group date">
              <span class="input-group-addon"
                ><i class="fa fa-calendar"></i></span
              ><input
                type="text"
                class="form-control"
                placeholder="Chọn kết thúc thử việc"
                value="03/04/2014"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="font-normal">Ngày kết thúc hợp đồng</label>
            <div class="input-group date">
              <span class="input-group-addon"
                ><i class="fa fa-calendar"></i></span
              ><input
                type="text"
                class="form-control"
                placeholder="Chọn kết thúc hợp đồng"
                value="03/04/2014"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox col-lg-12">
    <div class="ibox-title">
      <h5>LỊCH LÀM VIỆC</h5>
      <div class="ibox-tools">
        <a
          href=""
          data-toggle="modal"
          data-target="#popup-calender"
          data-backdrop="static"
          data-keyboard="false"
          class="btn btn-primary btn-xs"
          >Thêm mới</a
        >
      </div>
    </div>
    <div class="ibox-content">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="">
            <tr>
              <th>Ca làm việc</th>
              <th>Số giờ/tuần</th>
              <th>Ngày áp dụng</th>
              <th>Ngày làm việc</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Anthony Jackson</td>
              <td>40</td>
              <td>20/10/2021</td>
              <td>Thứ 2, Thứ 3, Thứ 4</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
            <tr>
              <td>Rooney Lindsay</td>
              <td>Proin Limited</td>
              <td>20/10/2021</td>
              <td>rooney@proin.com</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
            <tr>
              <td>Lionel Mcmillan</td>
              <td>Et Industries</td>
              <td>20/10/2021</td>
              <td>+432 955 908</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="ibox col-lg-12">
    <div class="ibox-title">
      <h5>LỊCH SỬ CÔNG TÁC</h5>
      <div class="ibox-tools">
        <a
          href=""
          data-toggle="modal"
          data-target="#popup-job"
          data-backdrop="static"
          data-keyboard="false"
          class="btn btn-primary btn-xs"
          >Thêm mới</a
        >
      </div>
    </div>
    <div class="ibox-content">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="">
            <tr>
              <th>Chức vụ</th>
              <th>Phòng ban</th>
              <th>Tình trạng</th>
              <th>Thời gian</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>FrontEnd</td>
              <td>AziWorld Vietnam</td>
              <td><span class="label">Plain</span></td>
              <td>20/01/2018 - 20/05/2020</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
            <tr>
              <td>Rooney Lindsay</td>
              <td>Proin Limited</td>
              <td><span class="label label-primary">Primary</span></td>
              <td>rooney@proin.com</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
            <tr>
              <td>Lionel Mcmillan</td>
              <td>Et Industries</td>
              <td><span class="label label-info">Information</span></td>
              <td>+432 955 908</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="ibox col-lg-12">
    <div class="ibox-title">
      <h5>HỢP ĐỒNG</h5>
      <div class="ibox-tools">
        <a
          href=""
          data-toggle="modal"
          data-target="#popup-job"
          data-backdrop="static"
          data-keyboard="false"
          class="btn btn-primary btn-xs"
          >Thêm mới</a
        >
      </div>
    </div>
    <div class="ibox-content">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="">
            <tr>
              <th>Chức vụ</th>
              <th>Phòng ban</th>
              <th>Tình trạng</th>
              <th>Thời gian</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>FrontEnd</td>
              <td>AziWorld Vietnam</td>
              <td><span class="label">Plain</span></td>
              <td>20/01/2018 - 20/05/2020</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
            <tr>
              <td>Rooney Lindsay</td>
              <td>Proin Limited</td>
              <td><span class="label label-primary">Primary</span></td>
              <td>rooney@proin.com</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
            <tr>
              <td>Lionel Mcmillan</td>
              <td>Et Industries</td>
              <td><span class="label label-info">Information</span></td>
              <td>+432 955 908</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="ibox col-lg-12">
    <div class="ibox-title">
      <h5>TÀI SẢN</h5>
      <div class="ibox-tools">
        <a
          href=""
          data-toggle="modal"
          data-target="#popup-job"
          data-backdrop="static"
          data-keyboard="false"
          class="btn btn-primary btn-xs"
          >Thêm mới</a
        >
      </div>
    </div>
    <div class="ibox-content">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="">
            <tr>
              <th>Chức vụ</th>
              <th>Phòng ban</th>
              <th>Tình trạng</th>
              <th>Thời gian</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>FrontEnd</td>
              <td>AziWorld Vietnam</td>
              <td><span class="label">Plain</span></td>
              <td>20/01/2018 - 20/05/2020</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
            <tr>
              <td>Rooney Lindsay</td>
              <td>Proin Limited</td>
              <td><span class="label label-primary">Primary</span></td>
              <td>rooney@proin.com</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
            <tr>
              <td>Lionel Mcmillan</td>
              <td>Et Industries</td>
              <td><span class="label label-info">Information</span></td>
              <td>+432 955 908</td>
              <td class="client-status text-right">
                <a href="" class="btn btn-default btn-xs">Sửa</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
