<ul class="nav nav-tabs">
  <li>
    <a class="active show" routerLink="profile">HỒ SƠ</a>
  </li>
  <li>
    <a routerLink="work">CÔNG VIỆC</a>
  </li>
  <li>
    <a routerLink="attendances">CHẤM CÔNG</a>
  </li>
  <!-- <li><a  data-toggle="tab" routerLink="#tab-payslip">TIỀN LƯƠNG</a></li> -->
  <li>
    <a routerLink="request">YÊU CẦU</a>
  </li>
  <li>
    <a routerLink="reward">THI ĐUA KHEN THƯỞNG</a>
  </li>
  <li>
    <a routerLink="calender">THỜI GIAN BIỂU</a>
  </li>
  <li>
    <a routerLink="document">TÀI LIỆU</a>
  </li>
  <li>
    <a routerLink="option">TÙY CHỈNH</a>
  </li>
</ul>
