<div class="ibox">
  <div class="ibox-content text-center pb-0">
    <div class="m-b-sm">
      <img
        src="../../../assets/img/a4.jpg"
        class="rounded-circle circle-border m-b-md mb-0"
        alt="profile"
      />
    </div>
    <div class="text-center">
      <a href="" class="btn btn-xs btn-primary"
        ><i class="fa fa-camera"></i> Thay đổi avatar</a
      >
    </div>
  </div>
  <div class="ibox-content profile-content padding-medium-lr">
    <h4><strong>Monica Smith</strong></h4>
    <p><i class="fa fa-phone"></i>&nbsp;&nbsp;(123) 456-7890</p>
    <p><i class="fa fa-envelope-open-o"></i>&nbsp;&nbsp;abc@gmail.com</p>
    <p><i class="fa fa-comment-o"></i>&nbsp;&nbsp;Viber: (123) 456-7890</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zalo: (123) 456-7890</p>
    <address>
      <strong>Activation</strong><br />
      <i class="fa fa-map-marker"></i> Tp.Hà Nội<br />
      <span>Chiều cao:</span> lớn hơn 1.7m
    </address>
    <h5>GIỚI THIỆU</h5>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitat.
    </p>
  </div>
  <div class="ibox-content padding-medium-lr">
    <strong>HOẠT ĐỘNG MỚI NHẤT</strong>
    <ul class="list-group clear-list">
      <li class="list-group-item fist-item">
        <span class="float-right"> 09:00 pm </span>
        Please contact me
      </li>
      <li class="list-group-item">
        <span class="float-right"> 10:16 am </span>
        Sign a contract
      </li>
      <li class="list-group-item">
        <span class="float-right"> 08:22 pm </span>
        Open new shop
      </li>
      <li class="list-group-item">
        <span class="float-right"> 11:06 pm </span>
        Call back to Sylvia
      </li>
      <li class="list-group-item">
        <span class="float-right"> 12:00 am </span>
        Write a letter to Sandra
      </li>
    </ul>
  </div>
  <div class="ibox-content padding-medium-lr">
    <div class="pb-2"><strong>KỸ NĂNG</strong></div>
    <div>
      <span>Bán hàng tốt</span>
      <small class="float-right">10/200 GB</small>
    </div>
    <div class="progress progress-small">
      <div style="width: 60%" class="progress-bar"></div>
    </div>

    <div>
      <span>Có thể làm MC</span>
      <small class="float-right">20 GB</small>
    </div>
    <div class="progress progress-small">
      <div style="width: 50%" class="progress-bar"></div>
    </div>

    <div>
      <span>Năng động</span>
      <small class="float-right">73%</small>
    </div>
    <div class="progress progress-small">
      <div style="width: 40%" class="progress-bar"></div>
    </div>

    <div>
      <span>Vui vẻ </span>
      <small class="float-right">400 GB</small>
    </div>
    <div class="progress progress-small">
      <div style="width: 20%" class="progress-bar progress-bar-danger"></div>
    </div>
  </div>
  <div class="ibox-content padding-medium-lr">
    <div class="row m-t-lg">
      <div class="col-md-6 px-0 text-center">
        <!-- <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
        <h5><strong>50</strong> dự án</h5> -->
        <div id="chartContainer" style="height: 370px; width: 100%"></div>
      </div>
      <div class="col-md-6 px-0 text-center">
        <span class="line">5,3,9,6,5,9,7,3,5,2</span>
        <h5><strong>229</strong> công việc</h5>
      </div>
    </div>
  </div>
</div>
