<div class="tab-content">
  <div id="tab-document" class="tab-pane active">
    <div class="wrapper wrapper-content">
      <div class="row gray-bg">
        <div class="col-lg-2">
          <app-entry-work-drawer></app-entry-work-drawer>
        </div>
        <div class="col-lg-10 animated fadeInRight white-bg pr-0">
          <div class="ibox-content border-0 pt-0 px-0">
            <app-entry-work-list></app-entry-work-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
