<div class="row animated fadeInUp">
  <div class="ibox col-lg-12">
    <div class="ibox-title">
      <h5>THÔNG TIN CÁ NHÂN</h5>
      <div class="ibox-tools">
        <a href="" class="btn btn-primary btn-xs">Lưu thay đổi</a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Họ và tên</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập họ và tên nhân viên"
                class="form-control"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="font-normal">Email</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập email nhân viên"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ngày sinh</label>
            <form class="form-inline">
              <div class="form-group date">
                <div class="input-group">
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline calendar"
                      (click)="d1.toggle()"
                      type="button"
                    >
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                  <input
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    name="d1"
                    #c1="ngModel"
                    [(ngModel)]="model1"
                    ngbDatepicker
                    #d1="ngbDatepicker"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="form-group">
            <label class="font-normal">Tôn giáo</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập tôn giáo"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Tình trạng hôn nhân</label>
            <div class="input-group">
              <ng-select2
                class="chosen-select"
                [data]="exampleData"
                [width]="420"
                tabindex="2"
                placeholder="Chọn tình trạng.."
              >
              </ng-select2>
            </div>
          </div>

          <div class="form-group">
            <label class="font-normal">Công đoàn</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập công đoàn"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Số điện thoại</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập số điện thoại nhân viên"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Mã số thuế cá nhân</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập mã số thuế cá nhân nhân viên"
                class="form-control"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="font-normal">Quốc tịch</label>
            <div class="input-group">
              <div class="input-group">
                <ng-select2
                  class="chosen-select"
                  [data]="exampleData"
                  [width]="420"
                  tabindex="2"
                  placeholder="Chọn tình trạng.."
                >
                </ng-select2>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Giới tinh</label>
            <div class="input-group">
              <ng-select2
                class="chosen-select"
                [data]="exampleData"
                [width]="420"
                tabindex="2"
                placeholder="Chọn tình trạng.."
              >
              </ng-select2>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Dân tộc</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập dân tộc"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Hoạt động</label>
            <div class="input-group mt-7">
              <!-- <input type="checkbox" class="js-switch" checked /> -->
              <section class="example-section">
                <material-slide-toggle
                  [name]="name"
                  [id]="id"
                  [checked]="checked"
                  [disabled]="disabled"
                  [aria-label]="label"
                  [aria-labelledby]="labelledby"
                  (change)="onChange($event)"
                >
                  Slide me!
                </material-slide-toggle>

                <!-- <mat-slide-toggle class="example-margin" [name]="name" [id]="id" [aria-label]="label" [aria-labelledby]="labelledby" (change)="onChange($event)" [color]="color" [checked]="checked" [disabled]="disabled">
                                  Slide me!
                              </mat-slide-toggle> -->
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading white-bg font-weight-bold">
            CHỨNG MINH THƯ
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="font-normal">Số CMND</label>
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder="Nhập mã số thuế cá nhân nhân viên"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="font-normal">Ngày cấp CMND</label>
                  <form class="form-inline">
                    <div class="form-group date">
                      <div class="input-group">
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline calendar"
                            (click)="d2.toggle()"
                            type="button"
                          >
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                        <input
                          class="form-control"
                          style="width: 220px"
                          placeholder="dd/mm/yyyy"
                          name="d2"
                          #c2="ngModel"
                          [(ngModel)]="model2"
                          ngbDatepicker
                          #d2="ngbDatepicker"
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="font-normal">Nơi cấp CMND</label>
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder="Nhập nơi cấp CMND nhân viên"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading white-bg font-weight-bold">HỘ CHIẾU</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="font-normal">Số hộ chiếu</label>
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder="Nhập mã số thuế cá nhân nhân viên"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="font-normal">Ngày cấp hộ chiếu</label>
                  <form class="form-inline">
                    <div class="form-group date">
                      <div class="input-group">
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline calendar"
                            (click)="d3.toggle()"
                            type="button"
                          >
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                        <input
                          class="form-control"
                          style="width: 150px"
                          placeholder="dd/mm/yyyy"
                          name="d3"
                          #c3="ngModel"
                          [(ngModel)]="model3"
                          ngbDatepicker
                          #d3="ngbDatepicker"
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="font-normal">Ngày cấp hết hạn</label>
                  <form class="form-inline">
                    <div class="form-group date">
                      <div class="input-group">
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline calendar"
                            (click)="d4.toggle()"
                            type="button"
                          >
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                        <input
                          class="form-control"
                          style="width: 150px"
                          placeholder="dd/mm/yyyy"
                          name="d4"
                          #c4="ngModel"
                          [(ngModel)]="model4"
                          ngbDatepicker
                          #d4="ngbDatepicker"
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="font-normal">Nơi cấp hộ chiếu</label>
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder="Nhập nơi cấp CMND nhân viên"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ibox col-lg-12">
  <div class="ibox-title">
    <h5>TÌNH TRẠNG SỨC KHỎE</h5>
    <div class="ibox-tools">
      <a href="" class="btn btn-primary btn-xs">Lưu thay đổi</a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="font-normal">Chiều cao</label>
          <div class="input-group">
            <input
              type="text"
              placeholder="Nhập chiều cao nhân viên"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="font-normal">Nhóm máu</label>
          <div class="input-group">
            <input
              type="text"
              placeholder="Nhập nhóm máu nhân viên"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="font-normal">Tình trạng sức khỏe</label>
          <div class="input-group">
            <input
              type="text"
              placeholder="Nhập nhóm máu nhân viên"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="font-normal">Cân nặng</label>
          <div class="input-group">
            <input
              type="text"
              placeholder="Nhập cân nặng nhân viên"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="font-normal">Bệnh bẩm sinh, mãn tính (nếu có)</label>
          <div class="input-group">
            <input
              type="text"
              placeholder="Nhập bệnh bẩm sinh, mãn tính nhân viên"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="font-normal">Ngày kiểm tra gần nhất</label>
          <form class="form-inline">
            <div class="form-group date">
              <div class="input-group">
                <div class="input-group-append">
                  <button
                    class="btn btn-outline calendar"
                    (click)="d5.toggle()"
                    type="button"
                  >
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
                <input
                  class="form-control"
                  placeholder="dd/mm/yyyy"
                  name="d5"
                  #c5="ngModel"
                  [(ngModel)]="model5"
                  ngbDatepicker
                  #d5="ngbDatepicker"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ibox col-lg-12">
  <div class="ibox-title">
    <h5>TÀI KHOẢN NGÂN HÀNG</h5>
    <div class="ibox-tools">
      <a href="" class="btn btn-primary btn-xs">Lưu thay đổi</a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="font-normal">Chủ tài khoản</label>
          <div class="input-group">
            <input
              type="text"
              placeholder="Nhập chủ tài khoản nhân viên"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="font-normal">Tên ngân hàng</label>
          <div class="input-group">
            <input
              type="text"
              placeholder="Nhập chủ tài khoản nhân viên"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="font-normal">Số tài khoản</label>
          <div class="input-group">
            <input
              type="text"
              placeholder="Nhập chủ tài khoản nhân viên"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="font-normal">Chi nhánh ngân hàng</label>
          <div class="input-group">
            <input
              type="text"
              placeholder="Nhập chủ tài khoản nhân viên"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ibox col-lg-12">
  <div class="ibox-title">
    <h5>GIỚI THIỆU VỀ BẢN THÂN</h5>
    <div class="ibox-tools">
      <a href="" class="btn btn-primary btn-xs">Lưu thay đổi</a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox-content no-padding">
          <div class="summernote">
            <h3>Lorem Ipsum is simply</h3>
            dummy text of the printing and typesetting industry.
            <strong>Lorem Ipsum has been the industry's</strong> standard dummy
            text ever since the 1500s, when an unknown printer took a galley of
            type and scrambled it to make a type specimen book. It has survived
            not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with
            <br />
            <br />
            <ul>
              <li>Remaining essentially unchanged</li>
              <li>Make a type specimen book</li>
              <li>Unknown printer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
