@import "../../../../../../employees.component.css";
.input-group-append .btn {
    border: 1px solid #dbdddf;
    width: 45px;
    font-size: 0.9rem;
}

.form-inline .form-control {
    display: inline-block;
    width: calc(100% - 45px);
    vertical-align: middle;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    /* height: 50px; */
}

.example-margin {
    margin: 10px;
}

.select2-container {
    width: 100%!important;
}

.select2-search--dropdown .select2-search__field {
    width: 98%;
}


/* .input-group .form-control2 {
    width: 222px;
    border: 1px solid #dbdddf;
}

.input-group .form-control2:focus {
    outline: #34499d auto 0.9em;
    border-radius: 0px;
}

.select2-dropdown input:focus {
    outline: none;
} */
