@import "../../../../../employees-detail.component.css";
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 1px;
    height: 36px;
}

.input-group .btn {
    border: 1px solid #dbdddf;
    font-size: 0.9rem;
}