@import "../profile-info-infomations/profile-info-infomations.component.css";
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 1px;
    height: 36px;
}

.input-group-append .btn {
    border: 1px solid #dbdddf;
    width: 45px;
    font-size: 1rem;
    border-radius: 0;
}

.form-inline .form-control {
    height: 38px;
    width: calc(100% - 45px);
}