<body class="top-navigation">
  <app-header></app-header>
  <div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
      <div class="wrapper wrapper-content-full">
        <app-employees-pagination></app-employees-pagination>
        <div class="row">
          <div class="col-lg-2">
            <app-employees-filemanager></app-employees-filemanager>
          </div>
          <div class="col-lg-10 animated fadeInRight">
            <app-employees-display-format></app-employees-display-format>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</body>
