<app-header></app-header>
<body class="top-navigation">
  <div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
      <div class="wrapper wrapper-content-full">
        <app-employees-pagination></app-employees-pagination>
        <div class="row">
          <div class="col-lg-2">
            <app-employees-filemanager></app-employees-filemanager>
          </div>
          <div class="col-lg-10 animated fadeInRight">
            <app-employees-display-format></app-employees-display-format>
          </div>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
  <div id="popup-window">
    <div
      class="modal inmodal window-center fade"
      id="popup-employee-create"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-sm-480">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">THÔNG TIN NHÂN VIÊN</h4>
          </div>
          <div class="modal-body white-bg">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="font-normal">Họ và tên</label>
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder="Nhập họ và tên"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="font-normal">Điện thoại</label>
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder="Nhập điện thoại"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="font-normal">Email</label>
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder="Nhập email"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-white min-w-100"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button type="button" class="btn btn-primary min-w-100">
              Tạo nhân viên
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
