<div class="row animated fadeInUp">
  <div class="ibox col-lg-12">
    <div class="ibox-title">
      <h5>KINH NGHIỆM</h5>
      <div class="ibox-tools">
        <a
          href=""
          data-toggle="modal"
          data-target="#popup-resume"
          data-backdrop="static"
          data-keyboard="false"
          class="btn btn-primary btn-xs"
          >Thêm mới</a
        >
      </div>
    </div>
    <div class="ibox-content">
      <div class="panel panel-default">
        <div class="panel-heading white-bg font-weight-bold">Kinh nghiệm</div>
        <div class="panel-body">
          <div class="activity-stream">
            <div class="stream">
              <div class="stream-badge">
                <i class="fa fa-circle"></i>
              </div>
              <div class="stream-panel">
                <div class="stream-info">
                  <span>07/25/1995 - 07/25/1995</span>
                </div>
                <h3>Mcneil, Rodriguez and Warren</h3>
                <span>Customer service manager</span>
              </div>
            </div>

            <div class="stream">
              <div class="stream-badge">
                <i class="fa fa-circle"></i>
              </div>
              <div class="stream-panel">
                <div class="stream-info">
                  <span>07/25/1995 - 07/25/1995</span>
                </div>
                <h3>Garcia and Sons</h3>
                <span>Careers information officer</span>
              </div>
            </div>
            <div class="stream">
              <div class="stream-badge">
                <i class="fa fa-circle"></i>
              </div>
              <div class="stream-panel">
                <div class="stream-info">
                  <span>07/25/1995 - 07/25/1995</span>
                </div>
                <h3>Davis, Sanchez and Miller</h3>
                <span>Customer service manager</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading white-bg font-weight-bold">Học vấn</div>
        <div class="panel-body">
          <div class="activity-stream">
            <div class="stream">
              <div class="stream-badge">
                <i class="fa fa-circle"></i>
              </div>
              <div class="stream-panel">
                <div class="stream-info">
                  <span>07/25/1995 - 07/25/1995</span>
                </div>
                <h3>Mcneil, Rodriguez and Warren</h3>
                <span>Customer service manager</span>
              </div>
            </div>

            <div class="stream">
              <div class="stream-badge">
                <i class="fa fa-circle"></i>
              </div>
              <div class="stream-panel">
                <div class="stream-info">
                  <span>07/25/1995 - 07/25/1995</span>
                </div>
                <h3>Garcia and Sons</h3>
                <span>Careers information officer</span>
              </div>
            </div>
            <div class="stream">
              <div class="stream-badge">
                <i class="fa fa-circle"></i>
              </div>
              <div class="stream-panel">
                <div class="stream-info">
                  <span>07/25/1995 - 07/25/1995</span>
                </div>
                <h3>Davis, Sanchez and Miller</h3>
                <span>Customer service manager</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox col-lg-12">
    <div class="ibox-title">
      <h5>KỸ NĂNG</h5>
      <div class="ibox-tools">
        <a
          href=""
          data-toggle="modal"
          data-target="#popup-skills"
          data-backdrop="static"
          data-keyboard="false"
          class="btn btn-primary btn-xs"
          >Thêm mới</a
        >
      </div>
    </div>
    <div class="ibox-content">
      <div class="panel panel-default">
        <div class="panel-heading white-bg font-weight-bold">Âm nhạc</div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="">
                <tr>
                  <th>Kỹ năng</th>
                  <th>Cấp độ</th>
                  <th>Mức độ (%)</th>
                  <th class="text-right"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ca hát</td>
                  <td>Cấp độ cơ bản</td>
                  <td>
                    <small>Đạt được mức: 48%</small>
                    <div class="progress progress-mini">
                      <div style="width: 48%" class="progress-bar"></div>
                    </div>
                  </td>
                  <td class="client-status text-right">
                    <a href="" class="btn btn-default btn-xs">Sửa</a>
                  </td>
                </tr>
                <tr>
                  <td>Đàn Guitar</td>
                  <td>Cấp độ cơ bản</td>
                  <td>
                    <small>Đạt được mức: 48%</small>
                    <div class="progress progress-mini">
                      <div style="width: 48%" class="progress-bar"></div>
                    </div>
                  </td>
                  <td class="client-status text-right">
                    <a href="" class="btn btn-default btn-xs">Sửa</a>
                  </td>
                </tr>
                <tr>
                  <td>Ca hát</td>
                  <td>Cấp độ cơ bản</td>
                  <td>
                    <small>Đạt được mức: 48%</small>
                    <div class="progress progress-mini">
                      <div style="width: 48%" class="progress-bar"></div>
                    </div>
                  </td>
                  <td class="client-status text-right">
                    <a href="" class="btn btn-default btn-xs">Sửa</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading white-bg font-weight-bold">Âm nhạc</div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="">
                <tr>
                  <th>Kỹ năng</th>
                  <th>Cấp độ</th>
                  <th>Mức độ (%)</th>
                  <th class="text-right"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ca hát</td>
                  <td>Cấp độ cơ bản</td>
                  <td>
                    <small>Đạt được mức: 48%</small>
                    <div class="progress progress-mini">
                      <div style="width: 48%" class="progress-bar"></div>
                    </div>
                  </td>
                  <td class="client-status text-right">
                    <a href="" class="btn btn-default btn-xs">Sửa</a>
                  </td>
                </tr>
                <tr>
                  <td>Đàn Guitar</td>
                  <td>Cấp độ cơ bản</td>
                  <td>
                    <small>Đạt được mức: 48%</small>
                    <div class="progress progress-mini">
                      <div style="width: 48%" class="progress-bar"></div>
                    </div>
                  </td>
                  <td class="client-status text-right">
                    <a href="" class="btn btn-default btn-xs">Sửa</a>
                  </td>
                </tr>
                <tr>
                  <td>Ca hát</td>
                  <td>Cấp độ cơ bản</td>
                  <td>
                    <small>Đạt được mức: 48%</small>
                    <div class="progress progress-mini">
                      <div style="width: 48%" class="progress-bar"></div>
                    </div>
                  </td>
                  <td class="client-status text-right">
                    <a href="" class="btn btn-default btn-xs">Sửa</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
