<div class="ibox">
  <div class="ibox-content mailbox-content px-0">
    <div class="file-manager">
      <ul class="folder-list m-b-md" style="padding: 0">
        <li>
          <a routerLink="info">
            <i class="fa fa-address-book-o"></i>
            Thông tin cá nhân
          </a>
        </li>
        <li>
          <a routerLink="contact">
            <i class="fa fa-map-marker"></i> Gia đình & liên hệ</a
          >
        </li>
        <li>
          <a routerLink="resume">
            <i class="fa fa-paper-plane-o"></i>Hồ sơ làm việc</a
          >
        </li>
        <li>
          <a routerLink="work-records">
            <i class="fa fa-bookmark-o"></i>Thông tin công việc</a
          >
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
