<div class="tab-content">
  <div id="tab-document" class="tab-pane active">
    <div class="wrapper wrapper-content">
      <div class="row gray-bg">
        <div class="col-lg-2">
          <div class="ibox">
            <div class="ibox-content mailbox-content px-0">
              <div class="file-manager">
                <h5>Folders</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                  <li>
                    <a href="mailbox.html">
                      <i class="fa fa-inbox"></i> Inbox
                      <span class="label label-warning float-right">16</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailbox.html">
                      <i class="fa fa-envelope-o"></i> Send Mail</a
                    >
                  </li>
                  <li>
                    <a href="mailbox.html">
                      <i class="fa fa-certificate"></i> Important</a
                    >
                  </li>
                  <li>
                    <a href="mailbox.html">
                      <i class="fa fa-file-text-o"></i> Drafts
                      <span class="label label-danger float-right">2</span></a
                    >
                  </li>
                  <li>
                    <a href="mailbox.html">
                      <i class="fa fa-trash-o"></i> Trash</a
                    >
                  </li>
                </ul>
                <h5>Categories</h5>
                <ul class="category-list" style="padding: 0">
                  <li>
                    <a href="#">
                      <i class="fa fa-circle text-navy"></i> Work
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-circle text-danger"></i> Documents</a
                    >
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-circle text-primary"></i> Social</a
                    >
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-circle text-info"></i> Advertising</a
                    >
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-circle text-warning"></i> Clients</a
                    >
                  </li>
                </ul>

                <h5 class="tag-title">Labels</h5>
                <ul class="tag-list" style="padding: 0">
                  <li>
                    <a href=""><i class="fa fa-tag"></i> Family</a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-tag"></i> Work</a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-tag"></i> Home</a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-tag"></i> Children</a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-tag"></i> Holidays</a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-tag"></i> Music</a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-tag"></i> Photography</a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-tag"></i> Film</a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 animated fadeInRight white-bg">
          <div class="row">
            <div class="ibox-content border-0 pt-0">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mainly scripts -->

<script>
  $(document).ready(function () {
    /* initialize the calendar
     -----------------------------------------------------------------*/
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $("#calendar").fullCalendar({
      header: {
        left: "prev,next today",
        center: "title",
        right: "month,agendaWeek,agendaDay",
      },
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar
      drop: function () {
        // is the "remove after drop" checkbox checked?
        if ($("#drop-remove").is(":checked")) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove();
        }
      },
      events: [
        {
          title: "All Day Event",
          start: new Date(y, m, 1),
        },
        {
          title: "Long Event",
          start: new Date(y, m, d - 5),
          end: new Date(y, m, d - 2),
        },
        {
          id: 999,
          title: "Repeating Event",
          start: new Date(y, m, d - 3, 16, 0),
          allDay: false,
        },
        {
          id: 999,
          title: "Repeating Event",
          start: new Date(y, m, d + 4, 16, 0),
          allDay: false,
        },
        {
          title: "Meeting",
          start: new Date(y, m, d, 10, 30),
          allDay: false,
        },
        {
          title: "Lunch",
          start: new Date(y, m, d, 12, 0),
          end: new Date(y, m, d, 14, 0),
          allDay: false,
        },
        {
          title: "Birthday Party",
          start: new Date(y, m, d + 1, 19, 0),
          end: new Date(y, m, d + 1, 22, 30),
          allDay: false,
        },
        {
          title: "Click for Google",
          start: new Date(y, m, 28),
          end: new Date(y, m, 29),
          url: "http://google.com/",
        },
      ],
    });

    $(".summernote").summernote();

    var elem = document.querySelector(".js-switch");
    var switchery = new Switchery(elem, { color: "#00A4EF" });

    $(".i-checks").iCheck({
      checkboxClass: "icheckbox_square-green",
      radioClass: "iradio_square-green",
    });

    $(".chosen-select").select2();

    $(".input-group.date").datepicker({
      startView: 1,
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      autoclose: true,
      format: "dd/mm/yyyy",
    });

    var d1 = [
      [1262304000000, 6],
      [1264982400000, 3057],
      [1267401600000, 20434],
      [1270080000000, 31982],
      [1272672000000, 26602],
      [1275350400000, 27826],
      [1277942400000, 24302],
      [1280620800000, 24237],
      [1283299200000, 21004],
      [1285891200000, 12144],
      [1288569600000, 10577],
      [1291161600000, 10295],
    ];
    var d2 = [
      [1262304000000, 5],
      [1264982400000, 200],
      [1267401600000, 1605],
      [1270080000000, 6129],
      [1272672000000, 11643],
      [1275350400000, 19055],
      [1277942400000, 30062],
      [1280620800000, 39197],
      [1283299200000, 37000],
      [1285891200000, 27000],
      [1288569600000, 21000],
      [1291161600000, 17000],
    ];

    var data1 = [
      { label: "Data 1", data: d1, color: "#17a084" },
      { label: "Data 2", data: d2, color: "#127e68" },
    ];
    $.plot($("#flot-chart1"), data1, {
      xaxis: {
        tickDecimals: 0,
      },
      series: {
        lines: {
          show: true,
          fill: true,
          fillColor: {
            colors: [
              {
                opacity: 1,
              },
              {
                opacity: 1,
              },
            ],
          },
        },
        points: {
          width: 0.1,
          show: false,
        },
      },
      grid: {
        show: false,
        borderWidth: 0,
      },
      legend: {
        show: false,
      },
    });

    var lineData = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
        {
          label: "Example dataset",
          backgroundColor: "rgba(26,179,148,0.5)",
          borderColor: "rgba(26,179,148,0.7)",
          pointBackgroundColor: "rgba(26,179,148,1)",
          pointBorderColor: "#fff",
          data: [48, 48, 60, 39, 56, 37, 30],
        },
        {
          label: "Example dataset",
          backgroundColor: "rgba(220,220,220,0.5)",
          borderColor: "rgba(220,220,220,1)",
          pointBackgroundColor: "rgba(220,220,220,1)",
          pointBorderColor: "#fff",
          data: [65, 59, 40, 51, 36, 25, 40],
        },
      ],
    };

    var lineOptions = {
      responsive: true,
    };

    var ctx = document.getElementById("lineChart").getContext("2d");
    new Chart(ctx, { type: "line", data: lineData, options: lineOptions });
  });
</script>

<script>
  $(document).ready(function () {
    $(document.body).on("click", ".client-link", function (e) {
      e.preventDefault();
      $(".selected .tab-pane").removeClass("active");
      $($(this).attr("href")).addClass("active");
    });
  });
</script>
